/*
Theme Name: Guanyem
Version: 1
Description: child theme de Customizr
<a href="www.lawebmistress.org">LaWebmistress</a>.
Author: LaWebmistress
Template: customizr
Author URI: http://www.lawebmistress.org
Tags: barcelona, desenvolupament per associacions i non-profit

    License: GNU General Public License v2.0
    License URI: http://www.gnu.org/licenses/gpl-2.0.html

*
* Some changes and order by GWT inc. (Guanyem Web Team)
* For external (downloaded) scripts, please put them inside plugins.js :)
*/

@import url("../customizr/style.css");

/* Changes on parent Theme by sinsistema 
File: /themes/customizr/parts/class-header-header_main.php line 279-280 = second Menu added
*/

body {
    background:#ffffff;
    color: #494443;
    font-family: 'Droid Serif', serif;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: none;
}
a {
    color: #d42b15;
    text-decoration: none;
}
p {
  font-family: 'Droid', sans-serif;
  font-weight: 400;
  margin: 0 0 1.2em;
}
/*img{
    border:5px solid #ebebeb;
}*/
hr{
    border:none;
}
dt, dd {
  line-height: 1.25;
}
dd.tubepress_meta {
  text-align: left;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #838383;
    line-height: 39px;
    margin-bottom: 20px;
}
h3{
    font-family: 'Droid Serif', serif;
    font-weight: 900;
    font-size: 16px;
}
h4{
    font-style: italic;
}

#main-wrapper {
  margin-top: 0;
}

#content {
  position: relative;
}
/*LWM lists*/
li {
    line-height: 1.5;
   margin-bottom: 1em;
}

/** MENU **/
.menu a.current-menu-item {
  text-decoration: underline;
}
#lang_sel_list {
    float: left;
    font-family: 'Droid', sans-serif;
    font-weight: 400;
    height: 32px;
    position: relative;
    z-index: 99;
}
#lang_sel_list, #lang_sel_list li{
    background: #494443;
    height: auto;
}
#lang_sel_list ul{
    height: auto;
    top: 0;
    left: 0;
    border-top: none;
}
#lang_sel_list ul a, #lang_sel_list_list ul a:visited {
    line-height: 1.4em;
    background:none;
    color:#fff;
}
#lang_sel_list li{

    height: 40px;
}
#lang_sel_list a, #lang_sel_list a:visited {
    border: none;
    border-top-width: 0;
    padding: 10px;
    background: #494443;
    color: #ffffff;
    margin: 0;
}
.icl_lang_sel_current{
    color:#ffffff;
}
#lang_sel_list a, #lang_sel_list a:visited
#lang_sel_list a.lang_sel_sel:hover {
    color: #fff;
    text-decoration: underline;
}

/* navbar */
.navbar{
    margin: 0;
}
.navbar .btn-navbar {
    margin-top: 4px;
}
.navbar-wrapper .navbar h2{
    display:none;
}
.navbar .nav{
    position: relative;
    left: 0;
    display: table;
    float: left;
    margin: 0 0 0 2%;
    width: 98%;
    padding: 0;
}
.navbar .nav > li{
    float: none;
    display: table-cell;
}
.navbar .nav > li > a{
    font-family: 'Droid', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #494443;
    font-size: 14px;
    padding: 36px 0 30px 0;
}
.navbar .nav > li > a:hover, .navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a{
    color: #df6050;
}
.menu-menu-top-container, .menu-menu-top-castellano0-container{
    background: #494443;
    float: left;
    width: 60%;
    overflow: hidden;
}
  #menu-menu-top li, .menu-menu-top-castellano0-container li { 
    float: right;
    line-height: normal; 
    height: 40px; 
    font-family: 'Droid', serif; 
    font-weight: 700;
    margin-bottom: 0;
  }
.navbar-inner .social-block{
    background: #fff;
    float: left;
    width:22%;
    margin: 0;
    padding: 8px 0 0 2%;
    height: 40px;
}
.navbar .navbar-inner{
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    z-index: 200;
}
.navbar-inner {
    background-color: #ffffff;
    background-image: none;
}

.social-block a {
    float: left;
    color: #494443;
    padding: 0 7px;
    width: auto;
    height: auto;
    text-shadow:none;
}
.social-block a:hover {
    color:#d42b15;
    text-shadow:none;
}
.icon-tumblr:before {
  content: "\f214";
}

.menu a{
    padding: 12px;
    float: right;
    color: #ffffff;
    font-family: 'Droid', sans-serif; font-weight: 400; text-transform: uppercase;
    font-size: 12px;
}

/* tc header */
.tc-header{
    border:none;
    border-bottom:1px solid #fde1d4;
    display:table;
}
.tc-header .brand{
    width:28.3%;
    display:table-cell;
    vertical-align: middle;
}
.tc-header .brand a{
    margin: 10px 0;
}
.tc-header .navbar-wrapper{
    border-left:1px solid #fde1d4;
    width: 66.70%;
    margin:0;
    display:table-cell;
    float: right;
}

/* Search form */
/* The "Search for" text is needed for screen readers, but we move it off screen, so we won't see it */
.search-form .screen-reader-text {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}
.search-header {}
  .search-header .search-form {
    overflow: hidden;
    padding: 14px 0 0;
  }
    .search-header .search-form > label {
      float: left;
      width: 73%;
      margin-right: 2%;
      padding: 0 2% 0 0;
    }
      .search-header .search-form > label input[type="search"] {
        width: 100%;
      }
    .search-header .search-form > input[type="submit"] {
      float: right;
      width: 21%;
    }
/* header Search */
.my-nav-menu-search {
  padding-left: 2%;
}
.my-nav-menu-search form {
  margin: 0;
  padding: 0;
}
/*Stop the display of the Search button*/
.my-nav-menu-search .search-submit {
  display: none;
}
/* Style the search input textbox */
.my-nav-menu-search .search-field {
  background: transparent;
  border: none;
  -webkit-box-shadow:    none;
  -moz-box-shadow:       none;
  box-shadow:            none;
  cursor: pointer;
  height: 26px;
  margin: 2px 0 2px 0;
  padding: 0 0 0 25px;
  position: relative;
  -webkit-transition: width 400ms ease;
  -moz-transition:    width 400ms ease;
  -o-transition:      width 400ms ease;
  transition:         width 400ms ease;
  width: 0px;
}
/* Expand the search box when you click it */
.my-nav-menu-search .search-field:active,
.my-nav-menu-search .search-field:focus {
  color: #5a5a5a;
  /* change the colour above if you are working with a dark navbar background */
  border: 2px solid #c3c0ab;
  cursor: text;
  outline: 0;
  width: 70px;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  margin: 0;
}
.my-nav-menu-search .search-form:before {
  font-family: 'genericons';
  content: '\f400';
  position: absolute; /* this is the key to put it visually inside the search field */
  font-size: 19px;
  font-weight: normal;
  padding-top: 0; /* tune this vertical alignment inside the search field, as needed */
  padding-left: 5px; /* tune this horizontal alignment inside the search field, as needed */
}4/* ------- */

/*** HOME ***/
body.home #content > article {
  padding-top: 25px;
}

/* marketing */
.marketing{
  margin:-20px 0 0 0;
  display:table;
}
  .marketing .row{
    margin-left: 0px;
  }
  .marketing .span4 {
    padding: 20px 0;
    width: 33.3%;
    display: table-cell;
    float: none;
  }
    .marketing .span4 > .content {
      padding: 20px 10%;
      font-family: 'Droid', sans-serif;
    }
      .marketing .span4 > .content h2 {
        color: #494443;
        text-align: left;
        font-style: normal;
        font-weight:800;
        font-size: 24px;
        line-height: 1.1;
        margin: 0 0 .5em;
        padding: 0;
        height: 2em;
        overflow: hidden;
      }
      .marketing .span4 > .content p {
        font-weight: 400;
        text-align: left;
        font-size: 15px;
        margin: 0;
        line-height: 1.6;
      }

      .marketing .article-list {
        position: relative;
      }
       .marketing .article-list a[data-action="see-all"] {
          position: absolute;
          top: -54px;
          right: 0;
          font-size: 11px;
          text-decoration: underline;
        }
        .marketing .article-list ul {
          list-style: none;
          text-align: left;
          margin: 0;
          padding: 0;
        }
          .marketing .article-list ul > li.article-excerpt {
            margin: 12px 0 0;
            padding: 10px 0 0;
            border-top: 1px solid #f3b0a0;
          }
          .marketing .article-list ul > li.article-excerpt:first-child {
            margin: 0;
            padding: 0;
            border-top: none;
          }
            .marketing .article-list ul > li.article-excerpt h3 {
              font-family: 'Droid', sans-serif;
              font-weight: 700;
              margin: 0 0 .4em;
            }
              .marketing .article-list ul > li.article-excerpt h3 a {
                color: #494443;
              }
            .marketing .article-list ul > li.article-excerpt p {
              font-size: 13px;
            }
            .marketing .article-list ul > li.article-excerpt a[data-action="read-more"] {
              text-decoration: underline;
            }

.home-posts {}
  .home-posts > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
    .home-posts .article-excerpt li{ list-style: none outside none;}
      .home-posts .article-excerpt h2.entry-title {
        font-size: 24px;
        padding-bottom: .5em;
      }

.fp-one{
    margin:0;
    background:#f8ebe5;
}
.fp-two{
    margin:0;
    background:#fce8de;
}
.fp-three{
    margin:0;
    background:#fdddce;
}


/*.btn-primary {
    background-color: red;
    background-image: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}*/
.btn-primary{
    color: #ffffff !important;
    background: #f0a594;
    border: none;
    border-bottom: 3px solid #d38675;
    font-family: 'Droid', sans-serif;
    font-weight: 400;
    font-size: 18px;
    -moz-border-radius: 29px;
    -webkit-border-radius: 29px;
    border-radius: 29px;
    padding: 10px 45px 10px 45px;
    text-shadow: none;
    margin: 20px 20px 20px 0;
}
.btn-primary:hover{
    background-color: #d42b16;
    border-bottom-color: #b32413;
}

/* highlight zone */
#highlight-zone {
  overflow: hidden;
}
  #highlight-zone .carousel {
    float: left;
    width: 66.67%;
  }
  #highlight-zone .video-zone {
    float: right;
    width: 33.33%;
  }

/* post video */
.video-zone {
  color: white;
  background: #55140d;
}
body.home .video-zone {}
  .video-zone > .inner {
    padding: 20px 35px;
  }
    .video-zone h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: white;
      margin: 0 0 .6em;
    }
    .video-zone iframe {
      margin: 0 0 10px;
    }
    .video-zone p {
      margin: 0;
      font-size: 13px;
    }

/* Carroussel */
.carousel {}
  .carousel-inner {}
    .carousel .item {}
      .carousel-image {}
      .carousel-caption {
        padding: 30px 5%;
        width: 40%;
        height: 390px;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        line-height: 14px;
        margin-left: 0;
        position: relative;
        vertical-align: top;
      }
        /*.carousel-caption h1 {
          font-size: 36px;
          line-height: 1;
        }*/
        .carousel-caption .btn {
          background-color: #d42b16;
          border-bottom-color: #b32413;
          padding: 20px;
          width: 90%;
          font-size: 23px;
          margin-top: 27px;
        }
        .carousel-caption .lead {
          /*font-family: 'Raleway', sans-serif;
          font-weight: 300;*/
          font-size: 32px;
          line-height: 1.25;
          text-align: center;
        }

/* Signa */
.signa p {
  font-family: 'Droid Serif', serif;
}

/* Sharing */
.sharing-buttons {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 10px 0 0;
}
body.search-results .sharing-buttons {
  display: none;
}
  .sharing-buttons h2 {
    margin: 0;
    float: left;
    font-size: 12px;
    line-height: 1.6;
    font-weight: normal;
  }
  .sharing-buttons ul {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
    .sharing-buttons li {
      float: left;
      list-style: none;
      margin: 0 0 0 10px;
    }
      .sharing-buttons li a {
        display: block;
        color: #BBB;
        font-size: 22px;
        text-decoration: none;
      }
      .sharing-buttons li a:hover {
        color: #888;
      }
      /*.sharing-buttons li a[data-action="share-facebook"] {
        color: #3b5998;
      }
      .sharing-buttons li a[data-action="share-twitter"] {
        color: #2290bf;
      }*/
        .sharing-buttons li a span {
          display: none;
        }

/***  CONTENIDO ADHESIONES ****/
.safari article.page .format-icon:before, .chrome article.page .format-icon:before, .format-icon:before {
    display:none;
}
h1.entry-title, h2.entry-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 35px;
    float: left;
    color: #494443;
    padding-bottom:20px;
    padding-top:25px;
    line-height: 50px;
    margin: 0;
}
.entry-content{
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
}
.entry-content ul li{
    font-family: 'Droid', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
}
.entry-content a.link,.entry-content a.hover{
    color:#d42b15;
}

.nombre{
    font-size: 21px;
    padding: 20px 0;
    float:left;
    width:100%;
}
.nombre.first{
    border-top: 1px solid #fdddce;
    padding: 15px 0 ;
}
.nombre span{
    font-style:italic;
    font-size: 19px;
    color: #716b6a;
}
/***  FOOTER ****/
footer#footer {
    color: #ffffff !important;
    border: none;
    background: #d42b16;
    padding: 80px 0;
    margin: 80px 0 0 0;
}
footer#footer a {
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0;
}
footer#footer .colophon{
    background: #d42b16;
    font-family: 'Droid', sans-serif;
    font-weight: 400;
}
footer#footer .colophon a, footer#footer .colophon p, footer#footer .colophon a.back-to-top {
    color:#ffffff;
    text-align: left;
}
  footer#footer .colophon a.back-to-top {
    float: right;
  }
  footer#footer .colophon a.back-to-top:hover {
    opacity: .7;
  }
    footer#footer .colophon a.back-to-top span {
      display: none;
    }
    footer#footer .colophon a.back-to-top .fa {
      font-size: 24px;
      background: #d42b16;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      padding: 2px;
    }
footer#footer .colophon .social-block a{
    color:#ffffff;
    width: auto;
    font-size: 1.5em;
}
footer#footer .colophon .credits {
  padding-right: 4%;
}
  footer#footer .colophon .credits p {
    overflow: hidden;
    line-height: 1.3;
  }
  footer#footer .colophon .credits .cc-logo {
    float: left;
    margin: 0 1em 1em 0;
  }

/***** SIDEBAR ****/
#right.widget-area, #left.widget-area{
    border:none;
}


.tc-sidebar {
  padding: 10px 0;
}
  .tc-sidebar .banner {
    margin: 0 0 10px;
  }

.textwidget ul{
    padding: 0;
    margin: 0;
}
.textwidget ul li{
    padding: 7px 0;
    width: 100%;
}
.textwidget ul li a{
    color: #f0a594;
    padding: 0 0 0 5%;
}
.breadcrumbs{
    width: 90% !important;
    margin:0 5%;
    display:none;
}
#left.widget-area {
    margin-top: 40px;
}

iframe#adhesions{
    height: 800px;
}

/*
* Responsive Web Design
*/
@media (min-width: 1200px){
    .tc-header{
        width:1170px;
        margin:0 auto;
    }
    .carousel-inner, .video-zone {
        height: 350px;
    }
}
@media (max-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
        /*width:90%;
        padding:0 5%;*/
    }
    .marketing{
        width:100% !important;
        padding:0;
    }
    #main-wrapper{
        padding:0;
        width:100%;
    }
    .carousel-caption{
        width: 50% !important;
    }
    #highlight-zone .video-zone {
        min-height: 450px;
    }
}
@media (max-width: 1080px) {
    #lang_sel_list{
        width:30%;
    }
    .menu-menu-top-container, .menu-menu-top-castellano0-container {
        width: 70%;
    }

    .marketing .article-list a[data-action="see-all"] {
      top: -25px;
      right: auto;
      left: 0;
    }
}
@media (max-width: 979px){
    .breadcrumbs{
        width: 90% !important;
        margin:0 5%;
        display:none;
    }
    .navbar .nav{
        width:100%;
        padding:0;
    }
    .tc-header .brand{
        width: 100%;
        display: block;
    }
    .tc-header .outside{
        display: none;
    }
    .tc-hover-menu.nav li {
        text-align: left;
        position: relative;
        float: left !important;
        width: 100%;
    }
    .tc-hover-menu.nav li a{
        padding:10px 0;
    }
    .navbar-inner .social-block {
        background: #ffffff;
        float: left;
        width: 80%;
        margin: 0;
        padding: 8px;
        height: 20px;
    }
    .social-block a{
        width:auto;
        float:left;
        color:#494443;
    }
    #lang_sel_list, .menu-menu-top-container, .menu-menu-top-castellano0-container{
        font-family: 'Droid', sans-serif;
        background: #ffffff;
        border-top: 1px solid #494443;
        border-bottom: 1px solid #494443;
        height: 40px;
        margin-bottom:10px;

    }
    .entry-content {
        font-size: 1em;
    }


    #lang_sel_list.lang_sel_list_vertical li, #lang_sel_list.lang_sel_list_vertical a, #lang_sel_list.lang_sel_list_vertical a:visited{
        background: #ffffff;
        color:#494443;

    }
    #lang_sel_list.lang_sel_list_vertical li{
        width:auto;
    }
    .menu-menu-top-container li, .menu-menu-top-castellano0-container li{
        float: left;
        list-style:none;
        text-align: center;
    }

    .menu-menu-top-container li a{
        padding: 9px 15px;
        color:#494443;
        width: 100%;
    }
    .menu-menu-top-castellano0-container li a{
        padding: 12px 6px;
        color:#494443;
        width: 100%;
    }
}
@media (max-width: 768px){
    iframe#adhesions{
        height: 1010px;
    }
    .container {
        width: 90%;
    }
    .marketing .span4 {
        width: 100% !important;
        float: left;
        margin: 0 !important;
    }

    #highlight-zone .carousel, #highlight-zone .video-zone {
      float: none;
      width: 100%;
    }
    #highlight-zone .video-zone {
      text-align: center;
      min-height: inherit;
    }
      #highlight-zone .video-zone > .inner {
        padding-bottom: 30px;
      }

    .carousel-caption{
        max-width: 90%;
        width: 90% !important;
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
        .carousel-caption .lead{
            font-size: 24px
        }
}
@media (max-width: 682px) {
    iframe#adhesions {
        height: 1080px;
    }

    .menu-menu-top-container, .menu-menu-top-castellano0-container {
        background: #fff;
    }

    .menu-menu-top-container ul, .menu-menu-top-castellano0-container ul {
      padding: 0;
      margin-left: 10px;
    }
    .menu-menu-top-container li a, .menu-menu-top-castellano0-container li a {
      padding: 10px 6px;
      font-size: 11px;
    }
}

@media (max-width: 500px) {
  #lang_sel_list,
  .menu-menu-top-container, .menu-menu-top-castellano0-container {
    float: none;
    width: auto;
  }
  #lang_sel_list {
    background: #494443;
    border: none;
    margin: 0;
  }
}

@media (max-width: 480px) {
    h1.entry-title, h2.entry-title {
        font-size: 20px;
        line-height: 1.4;
    }
    
    .carousel-caption .lead{
      max-height: none;
    }
}